.app {
  text-align: center;
  margin: 5% 20%;
  background-color: #f2aa4cff;
  color: black;
  height: 200px;
  padding-top: 2%;
  border-radius: 10px;
}

.btnStyle {
  background-color: #a9a9a9;
  color: black;
  width: 20%;
  font-size: 35px;
  margin-right: 20px;
  border: none;
  border-radius: 7px;
}